@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero-section set-bg" data-setbg="/Content/img/hero-bg.jpg">
    <div class="container">
        <div class="hero-text">
            <h2>TV Show Ratings</h2>
            <h2> <span> TV Shows and Subscriber Ratings</span></h2>
            <a asp-page="/Ratings/Index" class="site-btn">View Ratings</a>
        </div>
    </div>
</section>
